Machine-Learning/cached/
Machine-Learning/catboost_info/
Machine-Learning/.ipynb_checkpoints/
Deep-Learning/logs/
Deep-Learning/datasets/
Deep-Learning/output/
Deep-Learning/models/
Deep-Learning/checkpoints/
Deep-Learning/.ipynb_checkpoints/
Deep-Learning/tokens/
Deep-Learning/media/
LinAlg-Practicing/.ipynb_checkpoints/